.green {
    color: #499a18;
}

.main-color {
    color: #edf2ec;
}

.color-orange {
    color: #e06733;
}

.color-gray-d6 {
    color: #d6e7d2;
}

.color-gray-63 {
    color: #636060;
}

.color-gray-71 {
    color: #717171;
}

.color-gray-ae {
    color: #aea1a1;
}

.color-gray-d9 {
    color: #d9d9d9;
}
